
*.log
*.idea
*.old

.csv
.db_tables.py

.env

.db

# userfiles
swagger_example.yml
db_tables_archive.py
quote_model_prod.json
quote_model_prod_2.json
dq_archive.py
quotes.db
tables.sql
_schemas.sql

data/
.mypy_cache/
__pycache__/
.vscode/
.venv/
venv2/
.venv2/


# mypy
.mypy_cache/
.dmypy.json
dmypy.json
